<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854967944912-3dnfkdgf6iu2lm2smulqqp5a0olog2rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854967944912-3dnfkdgf6iu2lm2smulqqp5a0olog2rj</string>
	<key>API_KEY</key>
	<string>AIzaSyCufJLmGY-jdsy9FziEFcqBibMUlpL_Rcw</string>
	<key>GCM_SENDER_ID</key>
	<string>854967944912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SweetColors.PureFirebaseUnityProject</string>
	<key>PROJECT_ID</key>
	<string>purefirebaseunityproject</string>
	<key>STORAGE_BUCKET</key>
	<string>purefirebaseunityproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854967944912:ios:d6b511c8d2d778e7</string>
	<key>DATABASE_URL</key>
	<string>https://purefirebaseunityproject.firebaseio.com</string>
</dict>
</plist>